:root {
    --padding: 1rem;
    --text-align: center;
    --color: black;
    --text-decoration: none;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid rgba(4, 4, 4, 0.993);
    /* --max-width: 800px; */
    --display: block;
    --height: auto;
    --primary-colors: #dcedff;
    --secondary-colors: #e55381;
    --accent1: #0a014f;
    --accent2: #3976a7;
    --font-family: Oswald, sans-serif, quicksand;
    --heading-font-family: Oswald;
    --text-font-family: quicksand;
    --socials-text-decoration: none;
}

body {
    /* display: grid; */
    font-family: var(--font-family);
    background-color: var(--primary-colors);
    /* max-width: var(--max-width); */
    margin: 0 auto;
    /* padding-bottom: 50px;
    padding-top: 50px; */
}

/* this is how to write code for the header of a webpage */

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    background-color: var(--accent1);
    margin-bottom: 1rem;
    align-items: center;
    margin: 1rem auto;
    border: 0.5rem solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img {
    width: 90px;
    height: var(--height);
    margin: 0.5rem 3rem 0.5rem 3rem;
}

header nav {
    padding: 0;
    font-family: var(--text-font-family);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 50rem;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    border: black;
    justify-content: space-around;
}

.nav-links li {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    align-items: center;
}

.nav-links a {
    color: var(--color);
    text-decoration: var(--text-decoration);
    white-space: nowrap;

}

/* this is the code for the main content of the webpage */

/* main {
    display: grid;
    gap: 1rem;
    place-items: center;
    margin: 0;
} */

.hero {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 600px;
    gap: 0.5rem;

}

.img1 {
    /* display: flex; */
    justify-self: center;
    width: 100%;
    height: var(--height);
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-position: center;
    object-fit: cover;
    border-radius: 2%;
}

.hero h1 {
    position: absolute;
    /* align-self: flex-end;
    justify-self: center;
    text-align: center; */
    bottom: 400px;
    padding-right: 583px;
    padding-left: 583px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    background-color: var(--accent1);
    color: white;
    white-space: nowrap;
}

.about {
    /* display: flex;
    flex-direction: row-reverse; */
    background-color: var(--accent2);
    /* align-items: center; */
    padding: 1rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -400px;
}

.about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--heading-font-family);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.about p {
    color: white;
    font-family: var(--text-font-family);
    font-weight: bold;
    padding: 20px;
    margin-right: 20px;
}

.about img {
    width: 150px;
    float: right;
}

/* to style the section History area of the webpage */

.abc {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-colors);
    margin-top: 17rem;
    margin-bottom: 10rem;
}


.abc h2 {
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--heading-font-family);
}


.par1 {
    grid-column: 1 / 1;
    padding: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: bold;
}

.par2 {
    grid-column: 3/3;
    padding: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: bold;
}

.mid {
    grid-column: 2/2;
    width: 200px;
    height: var(--height);
    justify-self: center;
    align-self: center;
    object-position: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-area: 1rem; */
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10rem;
}

.adventure h2 {
    /* display: grid; */
    grid-column: 1/7;
    align-self: center;
    justify-self: center;
}

figcaption {
    text-align: center;
}

.a {
    grid-column: 2/2;
    align-self: center;
}

.b {
    grid-column: 3/3;
    align-self: center;
}

.c {
    grid-column: 4/4;
    align-self: center;
}

.d {
    grid-column: 5/5;
    align-self: center;
}

.e {
    grid-column: 6/6;
    align-self: center;
}

/* .adventure img {
    grid-column: 2/6;
    align-self: center;
    justify-self: center;
} */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent2);
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border: 0.5rem solid white;
    max-width: var(--max-width);
    padding-top: 3rem;
    padding-bottom: 3rem;
}


footer p {
    grid-column: 1/2;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    white-space: nowrap;
    justify-self: center;
    margin: 10px;
}


.socials {
    grid-column: 3/3;
}

.socials img {
    width: 60px;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    justify-content: space-between;
    margin-right: 10px;
}

/* contact webpage design */

.contact {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-colors);
    margin-top: 17rem;
    margin-bottom: 10rem;
}

.contact h2 {
    grid-column: 1 / 5;
    align-self: center;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-family: var(--heading-font-family);
}

.par3 {
    grid-column: 4 / 4;
    padding: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: var(--text-font-family);
    font-weight: bold;
}

iframe {
    grid-column: 2 / 2;
    width: 70%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-position: center;
    object-fit: cover;
    border-radius: 2%;
}

.happy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    background-color: var(--accent2);
}

.happy h2 {
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-family: var(--heading-font-family);
}

.happy img {
    width: 200px;
    height: var(--height);
    /* justify-self: space-between; */
    margin-left: 10rem;
    align-self: center;
    object-position: center;
    object-fit: cover;
    border-radius: 2%;
}

.happy figcaption {
    text-align: center;
    color: white;
    font-family: var(--text-font-family);
    font-weight: bold;
    margin-left: 10rem;
}

.f {
    grid-column: 2/2;
    align-self: center;
}

.g {
    grid-column: 3/3;
    align-self: center;
}

.h {
    grid-column: 4/4;
    align-self: center;
}

/* this is the code for the form area of the webpage */

.form-item {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 4rem;
}

form {
    display: grid;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 1000px;
    border: 0.3rem dashed gray;
    background-color: var(--accent1);
    color: white;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    border: 0.5rem solid rgb(176, 231, 176, 0.5);
    padding: 1rem;
    margin: 0.5rem;
}

legend {
    font-family: oswald;
    color: rgba(5, 242, 5, 0.745);
    font-size: 1.5rem;
}

label,
input,
textarea,
button {
    font-family: quicksand;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

label {
    text-align: right;
    padding-right: 1.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

input[type="radio"] {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

button {
    background-color: var(--accent2);
    color: white;
    border: none;
    padding: 0.5rem;
    font-family: quicksand;
    font-size: 1.5rem;
    margin-left: 27rem;
    width: 10rem;
    height: 5rem;
    border-radius: 0.5rem;

}

button:hover {
    cursor: pointer;
    color: green;
    background-color: red;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

textarea {
    border-radius: 0.5rem;
    width: 30rem;
    height: 10rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

label[for="subscribe"] {
    text-align: center;
    white-space: nowrap;
}

.con {
    color: white;
    text-decoration: none;
    font-family: var(--text-font-family);
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-left: 1rem;
}

/* css styling for the home page of the website */

.ho {
    background-color: transparent;
}

.ho a {
    text-decoration: none;
    color: var(--color);
    font-family: var(--text-font-family);
    font-weight: bold;
    font-style: italic;
    text-align: center;
    float: right;
}