:root {
    --padding: 1rem;
    --text-align: center;
    --color: black;
    --text-decoration: none;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid rgba(4, 4, 4, 0.993);
    --max-width: 800px;
    --display: block;
    --height: auto;
    --primary-colors: #dcedff;
    --secondary-colors: #e55381;
    --accent1: #0a014f;
    --accent2: #3976a7;
    --font-family: Oswald, sans-serif, quicksand;
    --heading-font-family: Oswald;
    --text-font-family: quicksand;
    --socials-text-decoration: none;
}

body {
    /* display: grid; */
    font-family: var(--font-family);
    background-color: var(--primary-colors);
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding-bottom: 50px;
    padding-top: 50px; */
}

/* this is how to write code for the header of a webpage */

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    background-color: var(--accent1);
    margin-bottom: 1rem;
    align-items: center;
    margin: 1rem auto;
    border: 0.5rem solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img {
    width: 90px;
    height: var(--height);
    margin: 0.5rem 3rem 0.5rem 3rem;
}

header nav {
    padding: 0;
    font-family: var(--text-font-family);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10rem;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    border: black;
    justify-content: space-around;
}

.nav-links li {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    align-items: center;
}

.nav-links a {
    color: var(--color);
    text-decoration: var(--text-decoration);
    white-space: nowrap;

}

/* this is the code for the main content of the webpage */

main {
    display: grid;
    gap: 1rem;
    place-items: center;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 600px;
    gap: 0.5rem;

}

.img1 {
    /* display: flex; */
    justify-self: center;
    width: 100%;
    height: var(--height);
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-position: center;
    object-fit: cover;
    border-radius: 2%;
}

.hero h1 {
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    bottom: 400px;
    padding-right: 220px;
    padding-left: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    background-color: var(--accent1);
    color: white;
    white-space: nowrap;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--accent2);
    align-items: center;
    padding: 1rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    top: -250px;
}


/* to style the section History area of the webpage */

.abc {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-colors);
    margin: 0;
}


.abc h2 {
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
    color: var(--accent1);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--heading-font-family);
}


.par1 {
    grid-column: 1 / 1;
    padding: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-family: var(--text-font-family);
}

.par2 {
    grid-column: 3/3;
    padding: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-family: var(--text-font-family);
}

.mid {
    grid-column: 2/2;
    width: 200px;
    height: var(--height);
    justify-self: center;
    align-self: center;
    object-position: center;
}

.adventure {
    /* display: grid; */
    grid-template-columns: repeat(6, 1fr);
    grid-area: 1rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.adventure h2 {
    /* display: grid; */
    grid-column: 1/7;
    align-self: center;
    justify-self: center;
}

.a {
    grid-column: 2/2;
}

.b {
    grid-column: 3/3;
}

.c {
    grid-column: 4/4;
}

.d {
    grid-column: 5/5;
}

.e {
    grid-column: 6/6;
}

/* .adventure img {
    grid-column: 2/6;
    align-self: center;
    justify-self: center;
} */

footer {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    background-color: var(--accent2);
    margin-bottom: 1rem;
    align-items: flex-end;
    margin: 1rem auto;
    border: 0.5rem solid white;
    max-width: var(--max-width);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer img {
    align-self: last baseline;
    width: 90px;
    height: var(--height);
}


footer p {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    align-self: last baseline;
    white-space: nowrap;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -5rem;
}

#socials a {
    color: white;
    text-decoration: var(--socials-text-decoration);
    padding: 0.5rem;
}