/* :root {...} is used to save a css variables, so that it can be used in the remaining parts of the CSS code  */

:root {
    --padding: 1rem;
    --background-color: darkblue;
    --text-align: center;
    --color: white;
    --box-shadow: 0 0 30px gray;
    --border: 1px dashed rgb(224, 15, 15);
    --max-width: 840px;
    --display: block;
    --heading-text-color: darkblue;
    --height: auto;
}


nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--color);
    display: var(--display);
    padding: var(--padding);
}

h1 {
    color: var(--heading-text-color);
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

p {
    padding: var(--padding);
}

main {
    max-width: var(--max-width);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
    border: var(--border);
}

footer {
    margin-top: 1rem;
    border-top: 8px dotted rgb(207, 207, 223);
    text-align: var(--text-align);
}